/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style-type: none;
}

* {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  line-height: 1.5;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ============== COMMON STYLES ============== */
/* ============== HEADER ===================== */
.page-header {
  color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.page-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.page-header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.text-logo {
  color: #2e2f42;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-item {
  width: calc((100%-40 * 2) / 3);
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item:hover .overlay-nav {
  transform: translateY(0%); 
}
.menu-link {
  display: block;
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.color-active {
  color: #404BBF;
}
.active-studio {
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  gap: 20px;
}
.overlay-nav{
  position: absolute;
    bottom: 0;
    background-color: #404bbf;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  display: block;
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-item {
  width: calc((100%-40) / 2);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* ============== HEADER ===================== */
/* ===============MAIN ========================*/
.first {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
  background-repeat: no-repeat;
}
.main-title {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin: auto;
}
.butt {
  background: #4d5ae5;
  color: #fff;
  text-align: center;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.butt:hover,
.butt:focus {
  background: #404bbf;
}
.company {
  display: flex;
  gap: 24px;
}
.icon-box {
  max-width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.sec-title {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.content-title {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.content-info {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.content-item {
  max-width: 264px;
}
.team {
  background: #f4f4fd;
}
.team-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.list-icon {
  width: 40px;
  height: 40px;
  margin: 0;
}
.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}
.team-link-icon {
  fill: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

  .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);o
}
.portf-info {
  padding: 32px 16px;
  text-align: left;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-li {
  width: calc((100% - 48px) / 3);
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-all{
  position: relative;
overflow: hidden;
}
.overlay-text{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  overflow: auto;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-li:hover .overlay-text {
  transform: translateY(0%);
}

/* =============== MAIN =====================*/
/* =============== FOOTER ===================*/
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-all {
  display: flex;
  padding-top: 100px;
  align-items: baseline;
}
.first-footer {
  display: block;
  flex-direction: column;
  margin-right: 120px;
}
.logo-footer {
  display: block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-logo-footer {
  display: inline-block;
  color: #f4f4fd;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info {
  color: #f4f4fd;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.social-media {
  display: inline-block;
  gap: 16px;
 }
.footer-icon {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}
.footer-title {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 16px;
}
.foot-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-link-icon:hover,
.foot-link-icon:focus {
  background-color: #31d0aa;
}
.footer-list-icon {
  display: flex;
justify-content: center;
align-items: center;
gap: 16px;
margin-top: 8px;
}

/* =============== FOOTER ===================*/
